<div class="row">
    <div class="col-md-4 col-md-offset-4 padtop">
        <div class="well">
            <h1 class="text-center">Contact Me</h1>
            <h4>
                If you wish to contact me about questions, comments, or hire me, you can send a message through the form below or:
                <ul class="codetext">
                    <br>
                    <li>Contact me through email at ritchiekai@gmail.com</li>
                    <li>Contact me on skype kai.ritchie</li>
                </ul>
            </h4>
            <%= form_for @contact do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, maxlength: 50, class:"form-control" %>
                </div>
                
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, maxlength: 50, class:"form-control"  %>
                </div>
                
                <div class="form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, cols: 30, rows: 5, maxlength: 4000, class:"form-control form-area" %>
                </div>
                
                <%= f.submit 'Submit', class:"btn btn-default" %>
                
                <div class="chars-remaining">Characters remaining: 4000</div>
            <% end %>
        </div>
    </div>
</div>