<!DOCTYPE html>
<html>
<head>
  <title>Kai</title>
   <%= stylesheet_link_tag 'application', media: 'all' %>
   <%= javascript_include_tag 'application'%>
   <script type="text/javascript" language="JavaScript">
      function set_logo_size()
      {
          var window_width = $(window).width();
          $('.logo-pic').attr('style', 'width:' + window_width + 'px;');
      }
      $(document).ready(function() {
          set_logo_size();
          $(window).bind('resize', function() { set_logo_size(); });
      });
  </script>
</head>

<body class="background">
      <div class="col-md-12 logo-pic">
        <%= image_tag "logo.png", :class => "logo-pic"%>
      </div>
     <div class="text-center">
        <span>
            <h1 class="title-text logo"><div class="logo-name">Kai Ritchie</div><div class="codetext logo2">{ Programmer }</div></h1>
        </span>
    </div>
    
    <nav class="navbar navbar-default main-nav" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%= link_to root_path, class: 'navbar-brand' do %>
              Home
            <% end %>
            </div>
            
            <div class="collapse navbar-collapse" id="main-nav-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "About", about_path  %></li>
                <li><%= link_to "My Skills", skills_path %></li>
                <li><%= link_to "Contact Me", new_contact_path %></li>
              </ul>
            </div>
      </div>
    </nav>
  <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{key}" %>
    <% end %>
    
    <%= yield %>
</body>
</html>


